{% extends "base.twig" %}

{% block content %}
  <div class="o-page">
    <div class="o-page__body">
      <div class="grid-container">
        <div class="grid-x align-center">
          <div class="small-7">
            <h1 class="u-noMargin">{{ post.title }}</h1>
            <p>
              {{ post.content }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
