{% extends "base.twig" %}

{% block content %}
  <div class="o-pageLogement">
    <div class="o-pageLogement__header">
      {% include 'modules/header/headerLogement.twig' %}
    </div>
    <div class="o-pageLogement__body">
      <div class="grid-x">
        <div class="cell small-6">
          {% include 'modules/section/sectionLogementInfo.twig' %}
        </div>
        <div class="cell small-6">
          <div class="o-pageLogement__body__sticky">
            {% include 'modules/sliders/sliderLogement.twig' %}
            {% include 'modules/section/sectionLogementTarifs.twig' %}
          </div>
        </div>
        <div class="cell small-12">
          {% include 'modules/section/sectionLogementLinks.twig' %}
          {% include 'modules/section/sectionLogementReviews.twig' %}
        </div>
        <div class="cell small-12">
          {% include 'modules/footer/footerLogement.twig' %}
        </div>
      </div>
    </div>
  </div>
  <div class="js-popup js-popupBooking js-popupBookingClose p-popup flex-container align-center align-middle">
    {% include 'modules/popups/popupBooking.twig' %}
  </div>
  <div class="js-popup js-popupSlider js-popupSliderClose p-popup flex-container align-center align-middle">
    {% include 'modules/popups/popupSlider.twig' %}
  </div>
{% endblock %}