{% extends "base.twig" %}

{% block content %}
  <div class="o-page">
    <div class="o-page__header">
      {% include 'modules/header/headerBlogPage.twig' %}
      {% include 'modules/nav/navBlogCategories.twig' %}
    </div>
    <div class="o-page__body--blog">
      <div class="grid-container">
        <h2 class="u-noMarginTop u-textCentered u-fontSize32">Tous les articles</h2>
        <div class="grid-x align-center">
          <div class="cell small-10">
            <div class="grid-x grid-margin-x grid-margin-y">
              {% for item in posts %}
                <div class="cell small-4">
                  {% include 'modules/cards/cardBlogPost.twig' %}
                </div>
              {% endfor %}
            </div>
            <div>
              {% include 'modules/pagination/pagination.twig' with {
                  'pagination': posts.pagination
                }
              %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}