<div class="p-sectionLogementReviews">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell small-6">
        {% if post.comments|length %}
          <h2 class="p-sectionLogementReviews__title">{{post.comments|length}} avis sur le logement</h2>
          <div>
            {% for comment in post.comments %}
              {% include "comment.twig" %}
              <hr />
            {% endfor %}
          </div>
        {% endif %}
        <h2 class="p-sectionLogementReviews__title">Laisser un avis sur le logement</h2>
        <div>
          {% include "comment-form.twig" %}
        </div>
      </div>
    </div>
  </div>
</div>