<section class="p-sectionLogementLinks">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell small-7">
        <h2 class="p-sectionLogementLinks__title u-noMargin">Aux environs du logement</h2>
        <div class="p-sectionLogementLinks__cards grid-x grid-margin-x grid-margin-y">
          {% for item in logement_links %}
            <div class="cell small-4">
              {% include 'modules/cards/cardBlogPost.twig' with {
                  targetBlank : true,
                }
              %}
            </div>
          {% endfor %}
        </div>
        <div class="p-separator"></div>
      </div>
    </div>
  </div>
</section>