<section class="p-sectionNewsletter">
  <h2 class="p-sectionNewsletter__title">Inscris-toi à la newsletter !</h2>
  <h2 class="p-sectionNewsletter__title">Suis-moi sur les réseaux !</h2>
  <div class="p-sectionNewsletter__social flex-container align-center">
    <a href="https://www.facebook.com/dormirarome/" target="blank_"><i class="fab fa-2x fa-facebook"></i></a>
    <a href="https://www.instagram.com/dormirarome/?hl=fr" target="blank_"><i class="fab fa-2x fa-instagram"></i></a>
    <a href="https://www.pinterest.fr/dormirarome/" target="blank_"><i class="fab fa-2x fa-pinterest-square"></i></a>
  </div>
</section>