.u-noMargin
  margin: 0

.u-clickable
  cursor: pointer

.u-hidden
  visibility: hidden
  display: none
  opacity: 0

.u-linkOnDiv
  position: absolute
  z-index: 100
  top: 0
  left: 0
  height: 100%
  width: 100%

.u-noPaddingTop
  padding-top: 0

.u-relative
  position: relative

.u-height100Percent
  height: 100%

.u-noScroll
  overflow: hidden

.u-invisible
  opacity: 0
  transform: translateX(-100%)

.u-bkgRed
  background-color: $red
