<div class="p-popup__ctt p-popupBooking js-popupContent">
  <div class="p-popup__ctt__close js-popupBookingClose u-clickable">
    <div></div>
    <div></div>
  </div>
  <h2 class="p-popup__ctt__title">Réserver ce logement</h2>
</div>