<footer class="p-footer">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell small-3 p-footer__firstColumn">
        <div class="p-footer__firstColumn__logo">
          <img class="p-footer__firstColumn__logo__image" src="{{site.url}}/wp-content/themes/dormirarome/static/images/logo_navbar.png" alt="Logo Dormir à Rome" />
          <span class="p-footer__firstColumn__logo__text">Dormir à Rome</span>
        </div>
        <div>
          <a href="#">Mentions légales</a>
        </div>
        <div>
          <a href="#">Plan du site</a>
        </div>
        <div>
          <a href="#">Politique de confidentialité</a>
        </div>
        <div>
          <a href="#">Conditions</a>
        </div>
        <div>
          © 2019
        </div>
      </div>
      <div class="cell small-3 p-footer__secondColumn">
        <div class="grid-x">
          <div class="cell small-6">
            <div>
              <a href="#">Où se loger</a>
            </div>
            <div>
              <a href="#">A Propos</a>
            </div>
          </div>
          <div class="cell small-6">
            <div>
              <a href="#">Blog</a>
            </div>
            <div>
              <a href="#">Contact</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cell small-3  p-footer__thirdColumn">
        <div>
          Envie de découvrir l'Italie ? <br />
          Visitez Dormir en Italie !
        </div>
      </div>
      <div class="cell small-3  p-footer__fourthColumn">
        <div>
          Inscrivez-vous à la Newsletter !
        </div>
        <div>
          Suivez-moi sur les réseaux !
        </div>
      </div>
    </div>
  </div>
</footer>

</div> {# end <div id="app"> #}

{{ function('wp_footer') }}
</body>
</html>

